# write all gitignore files for go gin project

/.env
/.env.local
/.env.development
.env
.env.local

# ignore tmp files
/tmp
/tmp/*

# ignore binary files
*.exe
*.dll
*.so
*.dylib

# ignore go binary
*.test
*.out
*.app

# ignore bin directory
/.bin
/.bin/*
